{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
{#            The way this works is by looking up the URL definition as specified #}
{#            in the polls.urls module. You can see exactly where the URL name of ‘detail’#}
        <a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p> No polls are available.</p>
{% endif %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />